/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenido principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.main-image img {
    width: 300px;
    border-radius: 15px;
    margin-bottom: 2rem;
}


.menu-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f9fa;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .menu-item:hover {
    background-color: #e0e0e0;
  }

  .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .cards-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* Pie de página */
footer.navbar {
    background-color: #f8f9fa; 
    border-top: 1px solid #dee2e6; 
    font-size: 0.8rem;
    height: 30px; 
}

footer .navbar-text {
    color: #6c757d; 
    text-align: center; 
    font-weight: 400;
}

footer .navbar-text a {
    color: #6c757d; 
    text-decoration: none; 
}

footer .navbar-text a:hover {
    color: #6c757d; 
    text-decoration: underline; 
}


#imagen-usuario-container {
    width: 150px; /* Asegúrate de que el ancho del contenedor sea suficiente */
    text-align: center; /* Centra el contenido horizontalmente */
}

#imagen-usuario {
    display: none; /* Asegúrate de que la imagen esté oculta por defecto */
    width: 100px; /* Ajusta el tamaño según lo necesites */
    height: 100px; /* Mantén la altura igual al ancho para que sea circular */
    margin: 0 auto; /* Centra la imagen */
    position: relative; /* Puede usarse para posicionar la imagen en relación al contenedor */
    top: 1px; /* Ajusta el valor para mover la imagen hacia abajo */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    overflow: hidden; /* Asegura que nada sobresalga del borde circular */
}

#nombre-usuario {
    margin-top: 20px; /* Ajusta el valor según necesites para mover el párrafo hacia abajo */
}


.button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 580px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #808080;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b30000; /* Cambia el fondo a rojo en hover */
    color: white; /* Cambia el color del texto a blanco */
    border-color: #b30000; /* Cambia el borde al mismo color rojo */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 30px;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 200px;
    background-color: white;
    color: #333;
    border-radius: 15px;
    border: 1px solid #b30000;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-text {
    margin-bottom: 5px;
}

.card.occupied {
    background-color: #FF4C4C;
    color: white;
}

button.selected {
    background-color: #333333;
    color: white;
}
